body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #c5c2b1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #625241;
  border-left: 1px solid #594e2a;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: #412d29;
  border-radius: 0;
  border-bottom: 10px solid #412d29;
}

.description {
  white-space: pre-wrap;
  text-align: center;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid #594e2a;
}

.hour {
  background-color: #c5c2b1;
  color: #412d29;
  border-top: 1px dashed #412d29;
}

.past {
  background-color: #beb4bb;
  color: #dfdacf;
}

.present {
  background-color: #95b6b2;
  color: #dfdacf;
}

.future {
  background-color: #ae768a;
  color: #dfdacf;
}

.saveBtn {
  border-left: 1px solid #594e2a;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #412d29;
  color: #dfdacf;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  color: #decf9d;
}

.clearBtn {
  border: 1px solid #594e2a;
  border-radius: 15px;
  color: #412d29;
}

.clearBtn:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  background-color: #dfdacf;
}
